body {
    
}

#wrapper {
    background: #999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
}

#main-nav {
    position: relative;
    z-index: 3000;
    width: 1003px;
    margin: 20px auto 0;
}

#main-nav > ul {
    border: 2px solid #fff;
    height: 56px;
    background: #780000;
    padding: 0;
    list-style: none;
    margin: 0;
}
#main-nav > ul li {
    float: left;
    line-height: 56px;
    border-right: 1px solid #fff;
    text-indent: 30px;
    background: url('../images/nav-bar.png') no-repeat;
    text-indent: 49px;
}
#main-nav > ul li a {
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    height: 100%;
    font-family: "Helvetica Rounded Cond";
    font-weight: bold;
}
#main-nav > ul li:last-child {
    border-right: none;
}
#main-nav #nav-who-we-are {
    width: 149px;
    background-position: 24px 14px;
}
#main-nav #nav-what-we-do {
    width: 151px;
    background-position: 20px -65px;
}
#main-nav #nav-our-strategy {
    width: 197px;
    background-position: 19px -144px;
    text-indent: 50px;
}
#main-nav #nav-drax-force {
    width: 193px;
    background-position: 65px -223px;
    text-indent: 97px;
}
#main-nav #nav-drax-force a {
    text-transform: none;
}
#main-nav #nav-work-done {
    width: 151px;
    background-position: 25px -302px;
    text-indent: 56px;
}
#main-nav #nav-contact-us {
    width: 152px;
    background-position: 21px -382px;
}

#main-nav #logo {
    position: absolute;
    left: 454px;
    border-radius: 50%;
    height: 87px;
    width: 87px;
    top: -16px;
    overflow: hidden;
    text-indent: -9000px;
    background: #780000 url('../images/logo.png') 17px 13px no-repeat;
    border: 2px solid #fff;
}



#wrapper .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #290;
}






/** TEMP SITE **/


#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -284px;
    height: 284px;
    background: #780000;
}

#footer > div {
    width: 1000px;
    border: dotted #954d4d;
    border-width: 0 1px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
}





/** TEMP SITE **/
